/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    background-color: #b91450;
}

h2 {
    color: white;
    text-transform: uppercase;
}

/* Utilities */
.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

/* User Field */
label {
    display: block;
    color: #b91450;
}

input, select {
    width: 80%;
    border-radius: 3px;
    border: 1px solid #b91450;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

button {
    text-align: center;
    color: #b91450;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px;
}

/* Ticket field */
#ticket-field h3{
    display: inline-block;
}

#ticket-field h3 span {
    font-weight: 200;
}

/* Responsive */
@media screen and (min-width: 576px) {
    .container {
        max-width: 80%;
    }
    
    .col {
        width: calc(100% / 3);
    }  
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 60%;
    }
}